<div class="input-atom">
  <label *ngIf="label">
    {{ label }}<span *ngIf="required" class="input-atom__required-asterisk">*</span>
  </label>
  <div class="input-atom__container">
    <input
      #inputElement
      [type]="type"
      [placeholder]="placeholder"
      [maxlength]="maxlength"
      [required]="required"
      [formControl]="formControl"
      (input)="onInputChange($event)"
      [ngClass]="{
        'input-atom__control': true,
        'input-atom--error': formControl.invalid && (formControl.dirty || formControl.touched)
      }"
    />
    <span
      *ngIf="maxlength"
      class="input-atom__character-counter"
      [ngClass]="{'input-atom__character-counter--over': formControl.value?.length > maxlength}"
    >
      {{ formControl.value ? formControl.value.length : 0 }}/{{ maxlength }}
    </span>
  </div>
  <div class="input-atom__error">
    <span *ngIf="externalError; else internalError">{{ externalError }}</span>
    <ng-template #internalError>
      <span *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
        {{ getErrorMessage() }}
      </span>
    </ng-template>
  </div>
</div> 