<div class="atm-input">
  <label *ngIf="label">{{ label }}</label>
  <div class="input-atom__container">
    <input
      #inputElement
      [type]="type"
      [placeholder]="placeholder"
      [attr.maxlength]="maxlength"
      [required]="required"
      [formControl]="formControl"
      (input)="onInputChange($event)"
      [ngClass]="{
        'input-atom__control': true,
        'atm-input--error': formControl.invalid && (formControl.dirty || formControl.touched)
      }"
    />
    <span
      *ngIf="maxlength"
      class="input-atom__character-counter"
      [ngClass]="{'input-atom__character-counter--over': formControl.value?.length > maxlength}"
    >
      {{ formControl.value ? formControl.value.length : 0 }}/{{ maxlength }}
    </span>
  </div>
  <div class="atm-input__error">
    <span *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)">
      {{ getErrorMessage() }}
    </span>
  </div>
</div> 