<div class="input-atom">
  <label *ngIf="label">
    {{ label }}<span *ngIf="required" class="input-atom__required-asterisk">*</span>
  </label>
  <div class="input-atom__container">
    <input
      #inputElement
      [type]="type"
      [placeholder]="placeholder"
      [attr.maxlength]="maxlength"
      [required]="required"
      [value]="currentValue"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
      [ngClass]="{
        'input-atom__control': true,
        'input-atom--error': formControl && formControl.invalid && (formControl.dirty || formControl.touched)
      }"
    />
    <span
      *ngIf="maxlength"
      class="input-atom__character-counter"
      [ngClass]="{'input-atom__character-counter--over': (currentValue.length || 0) > maxlength}"
    >
      {{ currentValue ? currentValue.length : 0 }}/{{ maxlength }}
    </span>
  </div>
  <div class="input-atom__error">
    <span *ngIf="externalError; else internalError">{{ externalError }}</span>
    <ng-template #internalError>
      <span *ngIf="formControl && formControl.invalid && (formControl.dirty || formControl.touched)">
        {{ getErrorMessage() }}
      </span>
    </ng-template>
  </div>
</div> 