<header class="header" role="banner">
  <div class="logo" (click)="onLogoClick()" role="button" tabindex="0" (keyup.enter)="onLogoClick()">
    <span class="logo__blue">Hogar</span>360
  </div>
  <ng-container *ngIf="!isAdminView; else adminHeader">
    <nav class="header__nav">
      <a class="header__link" href="#" tabindex="0">Compra</a>
      <a class="header__link" href="#" tabindex="0">Renta</a>
      <a class="header__link" href="#" tabindex="0">Vende</a>
      <button class="header__login-btn" (click)="onLoginClick()">Ingresar</button>
    </nav>
  </ng-container>
  <ng-template #adminHeader>
    <div class="user-info">
      <span class="welcome">{{ welcomeMessage }}, {{ userRole || 'Sin Rol' }}</span>
      <div class="avatar-container" *ngIf="showUserMenu">
        <button
          class="avatar-button"
          (click)="onUserMenuClick()"
          [attr.aria-expanded]="isUserMenuOpen"
          [attr.aria-label]="'Menú de usuario de ' + userName"
        >
          <div class="avatar" *ngIf="userAvatarUrl">
            <img [src]="userAvatarUrl" [alt]="userName" />
          </div>
          <div class="avatar avatar--placeholder" *ngIf="!userAvatarUrl">
            <i class="fa fa-user-circle" [attr.aria-label]="userName"></i>
          </div>
        </button>
        <div
          class="user-menu"
          *ngIf="isUserMenuOpen"
          (clickOutside)="onUserMenuOutsideClick()"
          role="menu"
        >
          <button class="menu-item" role="menuitem" (click)="onLogoutClick()">
            <img src="../../../../../assets/icons/logout.png" alt="Cerrar sesión" />
            Cerrar Sesión
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</header>