<div class="category">
  <h2 class="category__title">Crear Categoría</h2>
  <div class="category__card">
    <mol-form
      *ngIf="categoryForm"
      [fields]="categoryFormFields"
      [formGroup]="categoryForm"
      submitLabel="Crear"
      (formSubmit)="onFormSubmit()"
    ></mol-form>
  </div>

  <atm-toast
    [config]="{
      message: toastMessage,
      type: toastType,
      duration: 3000
    }"
    (closed)="onToastClosed()"
  ></atm-toast>

  <atm-confirm-dialog
    [show]="showConfirmDialog"
    title="Eliminar categoría"
    [message]="
      categoryToDelete
        ? '¿Estás seguro de que deseas eliminar la categoría \' ' +
          categoryToDelete.name +
          '\'?'
        : ''
    "
    (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()"
  ></atm-confirm-dialog>
</div>
