<div class="category">
  <h2 class="category__title">Crear Categoría</h2>
  <div class="category__card">
    <mol-form
      [fields]="categoryFormFields"
      [model]="categoryModel"
      submitLabel="Crear"
      (submit)="onFormSubmit($event)"
    ></mol-form>
  </div>
  <atm-toast
    [config]="{
      message: toastMessage,
      type: toastType,
      duration: 3000
    }"
    (closed)="onToastClosed()"
  ></atm-toast>

  <atm-confirm-dialog
    [show]="showConfirmDialog"
    title="Eliminar categoría"
    [message]="categoryToDelete ? '¿Estás seguro de que deseas eliminar la categoría \' ' + categoryToDelete.name + '\'?' : ''"
    (confirm)="onConfirmDelete()"
    (cancel)="onCancelDelete()"
  ></atm-confirm-dialog>

  <div class="category__subtitle-container">
    <h2 class="category__subtitle">Categorías existentes</h2>
  </div>
  <div class="category__list-container">
    <mol-table
      [columns]="categoryTableColumns"
      [data]="categories"
      [actions]="tableActions"
      [pagination]="pageInfo"
      [loading]="isLoading"
      (action)="onTableAction($event)"
      (pageChange)="onPageChange($event)"
    ></mol-table>
  </div>
</div>
 