<div class="table-molecule">
  <table *ngIf="data.length > 0">
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
        <th *ngIf="actions.length > 0">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let col of columns">{{ row[col.key] }}</td>
        <td *ngIf="actions.length > 0">
          <button *ngFor="let act of actions" (click)="onAction(act.type, row)" [title]="act.tooltip">
            <img *ngIf="act.icon" [src]="'/assets/icons/' + act.icon + '.png'" [alt]="act.tooltip" />
            <span *ngIf="!act.icon">{{ act.label }}</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="data.length === 0 && !loading" class="table-molecule__empty">
    No hay datos para mostrar.
  </div>
  <div *ngIf="loading" class="table-molecule__loading">Cargando...</div>
  <div *ngIf="pagination && pagination.totalPages > 1" class="table-molecule__pagination">
    <button (click)="onPageChange(pagination.currentPage - 1)" [disabled]="!pagination.hasPrevious">&lt;</button>
    <ng-container *ngFor="let i of [].constructor(pagination.totalPages); let idx = index">
      <button (click)="onPageChange(idx)" [class.active]="idx === pagination.currentPage">{{ idx + 1 }}</button>
    </ng-container>
    <button (click)="onPageChange(pagination.currentPage + 1)" [disabled]="!pagination.hasNext">&gt;</button>
  </div>
</div> 