<form (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <atm-input
      *ngIf="field.type === 'input'"
      [label]="field.label"
      [type]="field.inputType || 'text'"
      [placeholder]="field.placeholder"
      [maxlength]="field.maxlength"
      [required]="field.required"
      [(ngModel)]="model[field.name]"
      name="{{field.name}}"
    ></atm-input>
    <atm-textarea
      *ngIf="field.type === 'textarea'"
      [label]="field.label"
      [placeholder]="field.placeholder"
      [maxlength]="field.maxlength"
      [required]="field.required"
      [(ngModel)]="model[field.name]"
      name="{{field.name}}"
    ></atm-textarea>
    <atm-select
      *ngIf="field.type === 'select'"
      [label]="field.label"
      [options]="field.options"
      [required]="field.required"
      [isDisabled]="field.isDisabled"
      [(ngModel)]="model[field.name]"
      name="{{field.name}}"
      [placeholder]="field.placeholder"
    ></atm-select>
  </ng-container>
  <div class="form-molecule__button-container">
    <atm-button type="submit" variant="primary" [label]="submitLabel"></atm-button>
  </div>
</form> 