<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of fields">
    <ng-container *ngIf="field.type === 'input'">
      <atm-input
        [label]="field.label"
        [formControl]="asFormControl(formGroup.get(field.name))"
        [type]="field.inputType || 'text'"
        [placeholder]="field.placeholder"
        [maxlength]="field.maxlength"
        [required]="field.required"
      ></atm-input>
    </ng-container>
    <ng-container *ngIf="field.type === 'textarea'">
      <atm-textarea
        [label]="field.label"
        [formControl]="asFormControl(formGroup.get(field.name))"
        [placeholder]="field.placeholder"
        [maxlength]="field.maxlength"
        [required]="field.required"
      ></atm-textarea>
    </ng-container>
    <ng-container *ngIf="field.type === 'select'">
      <atm-select
        [label]="field.label"
        [formControl]="asFormControl(formGroup.get(field.name))"
        [options]="field.options"
        [required]="field.required"
        [placeholder]="field.placeholder"
      ></atm-select>
    </ng-container>
  </ng-container>
  <div class="form-molecule__button-container">
    <atm-button type="submit" variant="primary" [label]="submitLabel" [disabled]="formGroup.invalid || areFieldsEmpty()"></atm-button>
  </div>
</form> 