<div class="house">
    <h2 class="house__title">Crear Propiedad</h2>
  
    <div class="house__card">
      <mol-form
        *ngIf="houseForm"
        [fields]="houseFormFields"
        [formGroup]="houseForm"
        submitLabel="Crear"
        (formSubmit)="onFormSubmit()"
      ></mol-form>
    </div>
  
    <atm-toast
      *ngIf="toastMessage"
      [config]="{ message: toastMessage, type: toastType }"
      (closed)="onToastClosed()"
    >
    </atm-toast>

    <h2 class="house__title">Propiedades Existentes</h2>
    <div class="house__card">
      <org-table
        [columns]="houseTableColumns"
        [data]="houses"
        [pagination]="pageInfo"
        [loading]="isLoading"
        (pageChange)="onPageChange($event)"
        [sort]="sort"
        (sortChange)="onSortChange($event)"
        class="house__table"
      ></org-table>
    </div>
  </div>