<div class="house">
    <ng-container *ngIf="isSeller">
      <h2 class="house__title">Crear Propiedad</h2>
      <div class="house__card">
        <mol-form
          *ngIf="houseForm"
          [fields]="houseFormFields"
          [formGroup]="houseForm"
          submitLabel="Crear"
          (formSubmit)="onFormSubmit()"
        ></mol-form>
      </div>
    </ng-container>
  
    <atm-toast
      *ngIf="toastMessage"
      [config]="{ message: toastMessage, type: toastType }"
      (closed)="onToastClosed()"
    >
    </atm-toast>

    <h2 class="house__title">Propiedades Existentes</h2>
    
    <div class="house__search-container">
      <atm-input
        placeholder="Buscar por ciudad o departamento o ubicación"
        [formControl]="searchControl"
        type="text"
        class="house__search"
      ></atm-input>
    </div>

    <div class="house__card house__table-card">
      <div class="house__table-wrapper">
        <org-table
          [columns]="houseTableColumns"
          [data]="houses"
          [pagination]="pageInfo"
          [loading]="isLoading"
          (pageChange)="onPageChange($event)"
          [sort]="sort"
          (sortChange)="onSortChange($event)"
          class="house__table"
        ></org-table>
      </div>
    </div>
  </div>