/* You can add global styles to this file, and also import other style files */
@import 'styles/colors';
@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Opcional: cómo se muestra la fuente mientras se carga */
}

body {
  font-family: "Manrope", sans-serif;
}