<div class="textarea-atom__group">
  <label *ngIf="label">
    {{ label }}
    <span *ngIf="required" class="textarea-atom__required-asterisk">*</span>
  </label>
  <div class="textarea-atom__container">
    <textarea
      #textareaElement
      class="textarea-atom__control"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInputChange($event)"
      [attr.maxlength]="maxlength"
      [disabled]="isDisabled"
      rows="5"
    ></textarea>
    <span
      *ngIf="maxlength"
      class="textarea-atom__character-counter"
      [ngClass]="{'textarea-atom__character-counter--over': value ? value.length > maxlength : false}"
    >
      {{ value ? value.length : 0 }}/{{ maxlength }}
    </span>
  </div>
</div> 