<div class="main-layout">
  <org-header
    [config]="{
      logoText: 'Hogar 360',
      welcomeMessage: user.welcomeMessage,
      userName: user.name,
      userAvatarUrl: user.avatarUrl
    }"
  ></org-header>
  <div class="main-layout__container">
    <div class="main-layout__sidebar">
      <org-side-menu 
        [menuItems]="menuItems"
        [activeItemId]="activeItemId"
        (itemClick)="onMenuItemClick($event)"
      ></org-side-menu>
    </div>
    <div class="main-layout__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>